.learn-more {
    @include flex-all-center;

    &__subtitle {
        margin: 0;
        margin-right: 40px;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: var(--color-ebony);

        @include minitablet {
            max-width: 50%;
            margin-right: 10px;
            line-height: 40px;
        }

        @include mobile {
            margin-bottom: 10px;
            margin-right: 0;
            max-width: none;
        }
    }
      @include mobile {
        display: block;
      }
    
}