.nav {

    &__list {
        @include flex-v-center;

        @include tablet {
            margin-bottom: 40px;
            display: block;
        }
    }

    &__item {
        &:not(:last-child){
            margin-right: 40px;

            @include tablet {
                margin-bottom: 30px;
                margin-right: 0;
            }
        }
    }

    &__link {
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray);
        transition: color 0.3s ease-in-out;

        &--current {
            color: var(--color-primary);
        }


        &:focus {
        outline-offset: 2px;
         outline: 2px solid var(--color-primary);
        }


        &:hover {
          color: var(--color-primary);
        }


        &:active {
         color: var(--color-active);
        }
    }

   
    
}