.worldwide {
    padding-top: 80px;
    padding-bottom: 117px;
    background-color: var(--color-athems);

    &__title {
        margin-bottom: 60px;
    }

    @include minidesk {
        display: none;
     }
}