<section class="categories">
    <div class="container">
        <h2 class="title title--center categories__title">Categories</h2>
        <ul class="list-reset categories-nav">
            <li class="categories-nav__item">
                <button class="btn-reset categories-nav__btn categories-nav__btn--active">All News</button>
            </li>
            
            <li class="categories-nav__item">
                <button class="btn-reset categories-nav__btn">Company News</button>
            </li>
            <li class="categories-nav__item">
                <button class="btn-reset categories-nav__btn">Innovation</button>
            </li>
            <li class="categories-nav__item">
                <button class="btn-reset categories-nav__btn">Industry News</button>
            </li>
            <li class="categories-nav__item">
                <button class="btn-reset categories-nav__btn">Expert Tips</button>
            </li>
            <li class="categories-nav__item">
                <button class="btn-reset categories-nav__btn">Marketing</button>
            </li>
        </ul>
        <ul class="list-reset categories-list grid">
            <li class="categories-list__item">
                <article class="news-article">
                    <img src="img/categories-article-1.jpg" alt="article 1" class="news-article__image">
                    <div class="news-article__text">
                        <h3 class="news-article__title">
                            <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
                        </h3>
                        <div class="news-article__meta article-meta">
                          <a href="#" class="article-meta__item">Industry News</a>
                          <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
                          <span class="article-meta__item article-meta__item--comments">4 comments</span>
                        </div>
                        <div class="news-article__description">
                          Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
                        </div>
                    </div>
                 </article>
            </li>
            <li class="categories-list__item">
                <article class="news-article">
                    <img src="img/categories-article-2.jpg" alt="article 1" class="news-article__image">
                    <div class="news-article__text">
                        <h3 class="news-article__title">
                            <a href="#" class="news-article__link">How Construction Can Help Itself</a>
                        </h3>
                        <div class="news-article__meta article-meta">
                          <a href="#" class="article-meta__item">Innovation</a>
                          <time class="article-meta__item" datetime="2020-06-24 19:00">June 12, 2020</time>
                          <span class="article-meta__item article-meta__item--comments">No comments</span>
                        </div>
                        <div class="news-article__description">
                            Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. 
                            Rhoncus augue faucibus maecenas lacus...
                        </div>
                    </div>
                 </article>
            </li>
            <li class="categories-list__item">
                <article class="news-article">
                    <img src="img/categories-article-3.jpg" alt="article 1" class="news-article__image">
                    <div class="news-article__text">
                        <h3 class="news-article__title">
                            <a href="#" class="news-article__link">The Difference Between a&nbsp;Digger and an&nbsp;Excavator</a>
                        </h3>
                        <div class="news-article__meta article-meta">
                          <a href="#" class="article-meta__item">Expert Tips</a>
                          <time class="article-meta__item" datetime="2020-06-24 19:00">May 16, 2020</time>
                          <span class="article-meta__item article-meta__item--comments">No comments</span>
                        </div>
                        <div class="news-article__description">
                            Cras est nisi purus velit facilisi vitae, dolor. Lorem scelerisque integer duis et&nbsp;nulla lobortis cursus. 
                            Viverra erat sollicitudin praesent viverra...
                        </div>
                    </div>
                 </article>
            </li>
            <li class="categories-list__item">
                <article class="news-article">
                    <img src="img/categories-article-4.jpg" alt="article 1" class="news-article__image">
                    <div class="news-article__text">
                        <h3 class="news-article__title">
                            <a href="#" class="news-article__link">Building Construction Hand Tools</a>
                        </h3>
                        <div class="news-article__meta article-meta">
                          <a href="#" class="article-meta__item">Expert Tips</a>
                          <time class="article-meta__item" datetime="2020-06-24 19:00">February 25, 2020</time>
                          <span class="article-meta__item article-meta__item--comments">1 comments</span>
                        </div>
                        <div class="news-article__description">
                            Tellus quis aliquet volutpat nunc pulvinar donec sed sapien. Vitae elit id&nbsp;dolor, 
                            tristique massa. Fames lobortis orci rutrum bibendum integer...
                        </div>
                    </div>
                 </article>
            </li>
            <li class="categories-list__item">
                <article class="news-article">
                    <img src="img/categories-article-5.jpg" alt="article 1" class="news-article__image">
                    <div class="news-article__text">
                        <h3 class="news-article__title">
                            <a href="#" class="news-article__link">Top&nbsp;10 Construction Trends</a>
                        </h3>
                        <div class="news-article__meta article-meta">
                          <a href="#" class="article-meta__item">Industry News</a>
                          <time class="article-meta__item" datetime="2020-06-24 19:00">January 14, 2020</time>
                          <span class="article-meta__item article-meta__item--comments">No comments</span>
                        </div>
                        <div class="news-article__description">
                            Dignissim sed enim, eleifend morbi condimentum. Congue id&nbsp;quis vulputate dignissim eget. Ac&nbsp;ullamcorper nunc
                             habitasse enim interdum platea...
                        </div>
                    </div>
                 </article>
            </li>
            <li class="categories-list__item">
                <article class="news-article">
                    <img src="img/categories-article-6.jpg" alt="article 1" class="news-article__image">
                    <div class="news-article__text">
                        <h3 class="news-article__title">
                            <a href="#" class="news-article__link">Types of&nbsp;Flooring Materials</a>
                        </h3>
                        <div class="news-article__meta article-meta">
                          <a href="#" class="article-meta__item">Company News</a>
                          <time class="article-meta__item" datetime="2020-06-24 19:00">December 01, 2019</time>
                          <span class="article-meta__item article-meta__item--comments">No comments</span>
                        </div>
                        <div class="news-article__description">
                            Maecenas donec lacinia nunc, quam sit magnis mauris. Neque bibendum et&nbsp;mauris, aenean. Vel arcu amet in&nbsp;sem parturient integer 
                            duis et&nbsp;nulla...
                        </div>
                    </div>
                 </article>
            </li>
        </ul>
        <ul class="list-reset categories-pag">
            <li class="categories-pag__item">
                <a href="#" class="categories-pag__link categories-pag__link--active">1</a>
            </li>
            <li class="categories-pag__item">
                <a href="#" class="categories-pag__link">2</a>
            </li>
            <li class="categories-pag__item">
                <a href="#" class="categories-pag__link">3</a>
            </li>
            <li class="categories-pag__item">
                <a href="#" class="categories-pag__link">4</a>
            </li>
            <li class="categories-pag__item">
                <a href="#" class="categories-pag__link" aria-label="next page">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7929 6.79289C15.1834 6.40237 15.8166 6.40237 16.2071 6.79289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L16.2071 17.2071C15.8166 17.5976 15.1834 17.5976 14.7929 17.2071C14.4024 16.8166 14.4024 16.1834 14.7929 15.7929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L14.7929 8.20711C14.4024 7.81658 14.4024 7.18342 14.7929 6.79289Z" fill="#424551"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>