<section class="clients">
    <div class="container">
        <h2 class="title title--center clients__title">Our clients</h2>
        <ul class="list-reset clients__list">
            <li class="clients__item">
                <a href="#" class="clients__link">
                <img src="img/partners/logo-1.png" alt="Logo 1" class="clients__logo">
               </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                <img src="img/partners/logo-2.png" alt="Logo 2" class="clients__logo">
               </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                <img src="img/partners/logo-3.png" alt="Logo 2" class="clients__logo">
               </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                <img src="img/partners/logo-4.png" alt="Logo 2" class="clients__logo">
               </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                <img src="img/partners/logo-5.png" alt="Logo 2" class="clients__logo">
               </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                <img src="img/partners/logo-6.png" alt="Logo 2" class="clients__logo">
               </a>
            </li>
        </ul>
    </div>
</section>