<section class="comments">
    <h2 class="title title--center comments__title">4 comments</h2>
    <ul class="list-reset comments__list">
        <li class="comments__item">
            <article class="comment">
                <div class="comment__left">
                    <span class="comment__author">Devon Lane</span>
                    <time class="comment__time"datetime="2020-07-15 19:00">July 15, 2020</time>
                </div>
                <div class="comment__right">
                    <div class="comment__body">
                        <p>
                          Phasellus varius faucibus ultrices odio&nbsp;in. Massa neque dictum natoque ornare rutrum 
                          malesuada et&nbsp;phasellus. Viverra natoque nulla cras vel nisl proin senectus. 
                          rtor sed eleifend ante tristique felis sed urna aliquet. Suspendisse fames egestas sed duis purus diam&nbsp;et.   
                        </p>
                    </div>
                    <button class=" btn-reset comment__replay">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.667318 7.82816L6.7625 1.16602V5.14077H8.05839C12.0766 5.14077 15.334 8.38764 15.334 12.393V14.4993L14.7584 13.8706C12.8014 11.7333 10.0324 10.5156 7.1293 10.5156H6.7625V14.4903L0.667318 7.82816Z" fill="#787A80"/>
                        </svg>
                        <span>Replay</span>
                    </button>
                </div>
            </article>
        </li>

        <li class="comments__item">
            <article class="comment">
                <div class="comment__left">
                    <span class="comment__author">Annette Black</span>
                    <time class="comment__time"datetime="2020-07-15 19:00">1 day ago</time>
                </div>
                <div class="comment__right">
                    <div class="comment__body">
                        <p>
                            <a href="">@Devon Lane</a> Egestas fermentum natoque sollicitudin mauris. 
                            Facilisis praesent urna sed rhoncus quis pharetra pellentesque erat sagittis.
                        </p>
                    </div>
                    <button class=" btn-reset comment__replay">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.667318 7.82816L6.7625 1.16602V5.14077H8.05839C12.0766 5.14077 15.334 8.38764 15.334 12.393V14.4993L14.7584 13.8706C12.8014 11.7333 10.0324 10.5156 7.1293 10.5156H6.7625V14.4903L0.667318 7.82816Z" fill="#787A80"/>
                        </svg>
                        <span>Replay</span>
                    </button>
                </div>
            </article>
        </li>

        <li class="comments__item">
            <article class="comment">
                <div class="comment__left">
                    <span class="comment__author">Albert Flores</span>
                    <time class="comment__time"datetime="2020-07-15 19:00">July 7, 2020</time>
                </div>
                <div class="comment__right">
                    <div class="comment__body">
                        <p>
                            Libero commodo sit dui ac&nbsp;proin. Penatibus ultricies at&nbsp;adipiscing mauris nunc. 
                            Fames faucibus nisl duis id&nbsp;diam.
                        </p>
                    </div>
                    <button class=" btn-reset comment__replay">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.667318 7.82816L6.7625 1.16602V5.14077H8.05839C12.0766 5.14077 15.334 8.38764 15.334 12.393V14.4993L14.7584 13.8706C12.8014 11.7333 10.0324 10.5156 7.1293 10.5156H6.7625V14.4903L0.667318 7.82816Z" fill="#787A80"/>
                        </svg>
                        <span>Replay</span>
                    </button>
                </div>
            </article>
        </li>

        <li class="comments__item">
            <article class="comment">
                <div class="comment__left">
                    <span class="comment__author">Marvin McKinney</span>
                    <time class="comment__time"datetime="2020-07-15 19:00">June 28, 2020</time>
                </div>
                <div class="comment__right">
                    <div class="comment__body">
                        <p>
                            Ullamcorper nibh sed ac&nbsp;ipsum nunc imperdiet rhoncus.
                             Quam donec habitant nibh sit consequat erat libero, tincidunt. Eros ut&nbsp;
                             aliquam proin et&nbsp;duis. 
                            Mauris, egestas congue nibh dui a&nbsp;nulla.
                        </p>
                    </div>
                    <button class=" btn-reset comment__replay">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.667318 7.82816L6.7625 1.16602V5.14077H8.05839C12.0766 5.14077 15.334 8.38764 15.334 12.393V14.4993L14.7584 13.8706C12.8014 11.7333 10.0324 10.5156 7.1293 10.5156H6.7625V14.4903L0.667318 7.82816Z" fill="#787A80"/>
                        </svg>
                        <span>Replay</span>
                    </button>
                </div>
            </article>
        </li>
    </ul>
</section>