<section class="serveces-benefits section-offset">
    <div class="container">
        <h2 class="title title--center serveces-benefits__title">Our benefits</h2>
        <p class="descr descr--center serveces-benefits__description">Our serveces-benefits is&nbsp;to&nbsp;set the highest standards for construction sphere.</p>
        <ul class="list-reset serveces-benefits__list grid">
            <li class="serveces-benefits__item serveces-benefits__item--terms">
                <h3 class="serveces-benefits__subtitle">Fixed Terms & Cost</h3>
                <p class="serveces-benefits__descr">
                 Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
                </p>
            </li>
            <li class="serveces-benefits__item serveces-benefits__item--workers">
                <h3 class="serveces-benefits__subtitle">Qualified Workers</h3>
                <p class="serveces-benefits__descr">
                    Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est&nbsp;ea.
                </p>
            </li>
            <li class="serveces-benefits__item serveces-benefits__item--control">
                <h3 class="serveces-benefits__subtitle">Supervidion & Control</h3>
                <p class="serveces-benefits__descr">
                    Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea&nbsp;ad.
                </p>
            </li>

        </ul>
       <div class="centered serveces-benefits__centered">
           <button class="btn btn-reset btn--fill serveces-benefits__btn">Discuss a project</button>
       </div>
    </div>
</section>